img{
	width: 200px;
  overflow: hidden;
  height: 250px;
}
 body{
  background-color: #000;
  background-image: url(cinema.jpg);
  background-size: 1000px;
 }

h2{
  text-align: center;
  color: #fff;
  font-family: Montserrat;
}

h1{
  color: #fff;
  font-family: Montserrat;
  text-align: center;
}

h4{
  color: #fff;
  font-family: Montserrat;
}
p{
  color: #fff;
  font-family: Montserrat;
  width: 100%;
  text-align: left;
}
h3{
  color: #fff;
  font-family: Montserrat;
}

h6{
  color: #fff;
  font-family: Montserrat;
  font-size: 20px;
  text-align: left;
}

/* Dropdown Button */
.dropbtn {
  background-color: #000;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  font-family: Montserrat;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 10px 10px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #029;}


ul li{
  float: left;
  font-family: Montserrat;
}
li a{
  text-decoration: none;
  color: #fff;
  display: block;
  width: 70px;
  padding: 10px 10px;
  text-align: center;
}
 li a:hover{
  background-color: #029;
 }

 .active{
  font-weight: bold;
 }

.frame {
  width: 270px;
  height: 270px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.frame img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.centre{
  text-align: center;
}

td{
  width: 400px;
  background-color:#5d3c82;
}

.noColour{
  background-color: transparent;
}

.large{
  width: 
  1200px;
  text-align: center;
}