img{
	width: 200px;
  overflow: hidden;
  height: 250px;
}
 body{
  background-color: #000;
  background-image: url(cinema.jpg);
  background-size: 1000px;
 }

h2{
  text-align: center;
  color: #fff;
  font-family: Montserrat;
}

h1{
  color: #fff;
  font-family: Montserrat;
  text-align: center;
}

h4{
  color: #fff;
  font-family: Montserrat;
}
p{
  color: #fff;
  font-family: Montserrat;
  width: 100%;
  text-align: left;
}
h3{
  color: #fff;
  font-family: Montserrat;
}

h6{
  color: #fff;
  font-family: Montserrat;
  font-size: 20px;
  text-align: left;

}
 a{
  text-decoration: none;
 }
ul{
  background-color: #5d3c82;
  margin-top: 0;
  list-style-type: none;
}

ul li{
  float: left;
  font-family: Montserrat;
}
li a{
  text-decoration: none;
  color: #fff;
  display: block;
  width: 70px;
  padding: 10px 10px;
  text-align: center;
}
 .active{
  font-weight: bold;
 }
.dropbtn {
  background-color: transparent;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  font-family: Montserrat;
}


.dropdown {
  position: relative;
  display: block;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


.dropdown-content a {
  color: black;
  padding: 10px 10px;
  text-decoration: none;
  display: block;
}


.dropdown-content a:hover {background-color: #ddd;}


.dropdown:hover .dropdown-content {display: block;}


.dropdown:hover .dropbtn {background-color: #029;}



.frame {
  width: 270px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.frame img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.centre{
  text-align: center;
}

td{
  background-color:#5d3c82;
}

.noColour{
  background-color: transparent;
}

.large{
  width: 1200px;
  text-align: center;
}

footer {
  background-color: #5d3c82;
  padding: 5px;
}
